<%= if @current_user do %>
<div id="index">
</div>
<% else %>
<div class="jumbotron text-center">
  <h2 class="display-2">NEU MAP</h2>
  <p class="lead">Search through Northeastern University building names, addresses, or services using this interactive navigation tool and we'll tell you how to get there.</p>
  <hr class="my-4">
  <p><%= link "Signup", to: user_path(@conn, :new) %> or Login above to get started.</p>
</div>
<% end %>
