<h2>Show Service</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @service.name %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @service.description %>
  </li>

</ul>

<span><%= link "Edit", to: service_path(@conn, :edit, @service) %></span>
<span><%= link "Back", to: service_path(@conn, :index) %></span>
