<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NEU MAP</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
   <nav class="navbar navbar-dark bg-dark navbar-expand-md">
     <div class="container-fluid">
      <a class="navbar-brand" href="/">NEU MAP</a>
      <button class="navbar-toggler" type="button"
              data-toggle="collapse" data-target="#main-navbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="main-navbar">
        <ul class="navbar-nav mr-auto">
          <%= if is_admin?(@current_user) do %>
          <li class="nav-item">
            <a class="nav-link" href="/users">Users</a>
          </li>
          <% end %>
          <li class="nav-item">
            <a class="nav-link" href="/building">Buildings</a>
          <li>
          <li class="nav-item">
            <a class="nav-link" href="/area">Areas</a>
          <li>
          <li class="nav-item">
            <a class="nav-link" href="/service">Services</a>
          <li>
          <li class="nav-item">
            <a class="nav-link" href="/tag">Tags</a>
          <li>
        </ul>
      </div>

     <%= if @current_user do %>
        <span class="text-light">
          <%= @current_user.email %> |
          <%= link("Logout", to: session_path(@conn, :logout), method: :delete, class: "btn btn-danger") %>
        </span>
      <% else %>
        <%= form_for @conn, session_path(@conn, :login),
              [as: "user", class: "form-inline w-150"], fn _f -> %>
          <input type="text" placeholder="email"
                 class="form-control" name="email">
          <input type="password" placeholder="password"
                 class="form-control" name="password">
          <input type="submit" value="Log in" class="btn btn-primary">
          <%= link "Signup", to: user_path(@conn, :new), class: "btn btn-dark" %>
        <% end %>
      <% end %>
    </div>
</nav>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 my-2">
          <%= if get_flash(@conn, :info) do %>
            <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
          <% end %>
          <%= if get_flash(@conn, :error) do %>
            <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
          <% end %>
        </div>
      </div>
    </div>

    <div class="container">
    <main role="main" class="main">
      <%= render @view_module, @view_template, assigns %>
    </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
