<%= if is_admin?(@current_user) do %>
<h2>Edit Tag</h2>

<%= render "form.html", Map.put(assigns, :action, tag_path(@conn, :update, @tag)) %>

<span><%= link "Back", to: tag_path(@conn, :index) %></span>
<% else %>
<p>Contact an admin to view this page.</p>
<% end %>
