<h1 class="display-4"><%= @tag.name %></h1>
<p><strong>Color:</strong> <%= @tag.color %></p>
<%= if (services = get_services(@tag.id)) do %>
<p>
  <strong>Services:</strong>
  <ul>
  <%= for service <- services do %>
    <li>
      <%= link service.name, to: service_path(@conn, :show, service.id) %>
    </li>
  <% end %>
</p>
<% end %>
